/* General setup; do not change the given CSS code. Add your own CSS code at the bottom! */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */
  /*Fonts for my body and headers found via google fonts*/

  @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

  .graduate-regular {
    font-family: "Graduate", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .pt-serif-regular-italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  body{
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.02rem;
    word-spacing: 0.05rem;
  }

  h2{
    font-family: 'Graduate', system-ui;
    font-weight: 400;
    font-size: 2.4rem;
    letter-spacing: 0.06rem;
  }

  html {
    font-size: 10px;
  }

  header h1 {
    font-family: 'Graduate', system-ui;
    font-size: 3.2;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 0.08rem;
  }

  section h2 + p {
    text-indent: 1.25rem;
  }

  a:link{
    color: #4CAF50;
    text-decoration: underline;
  }

  a:visited{
    color: #944;
  }

  a:hover{
    color: #c77;
    text-decoration: none;
  }

  a:focus{
    color: rgb(145, 29, 29);
    text-decoration: none;
    outline: none;
  }

a:active{
  color: #b536d4;
  background-color: #f2f2f2;
}

a[href^="https"]:not([href*="https://sq-ghost.github.io/Typesetting/#"])::after{
  content: url('https://github.com/SQ-Ghost/Typesetting/blob/main/external-link-52.png?raw=true');
  margin-left:5px;
  vertical-align:middle;
}